bleach==3.2.1
certifi==2020.12.5
cffi==1.14.3
chardet==4.0.0
clean-text==0.3.0
colorama==0.4.4
cryptography==3.1.1
elasticsearch==7.10.1
emoji==0.6.0
ftfy==5.8
idna==2.10
jeepney==0.4.3
keyring==21.4.0
pdfminer.six==20200517
pdfplumber==0.5.25
Pillow==8.0.1
pkginfo==1.5.0.1
pluggy==0.13.1
pycparser==2.20
pycryptodome==3.9.9
readme-renderer==27.0
regex==2020.11.13
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.1.2
selectolax==0.2.10
sortedcontainers==2.3.0
tqdm==4.50.2
twine==3.2.0
urllib3==1.26.2
Wand==0.6.5
webencodings==0.5.1
